<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mongo Scraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bring in Materialize CSS & Google fonts -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Main frontend JS file -->
    <script src="/js/front.js"></script>
    <!-- jQuery/AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    <body class = "grey darken-3">
        
        Sup

        <!-- Bringing in Materialize JS -->
        <script src="/js/materialize.js"></script>
    </body>
</html>