<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mongo Scraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bring in Materialize CSS & Google fonts -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Main frontend JS file -->
    <script src="/js/front.js"></script>
    <!-- jQuery/AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="blue-grey lighten-4">
    <!-- Nav Bar -->
    <nav class="deep-orange lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Mongo Alpha</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Saved Articles</a></li>
                <li><a href="#">Clear Articles</a></li>
            </ul>
            <!-- Mobile Nav -->
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Saved Articles</a></li>
                <li><a href="#">Clear Articles</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <!-- Parallax start -->
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center deep-orange-text text-lighten-1">Market Update</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Get the latest market news</h5>
                </div>
                <div class="row center">
                    <a href="/scrape" id="scrape-button" class="btn-large waves-effect waves-light deep-orange lighten-1">Scrape Now
                    </a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="/img/market2.jpg" alt="backspalsh"></div>
    </div>
    <!-- Append scraped stuff here -->
    <div class="container">
        <div class="section">
    
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>Results</h4>
              <p id = "ohNo" class="center-align light">Uh oh! No results availble. Click the "scrape now" button above to get the latest news</p>
              <p id = "resultsGuy" class="center-align light"></p>
            </div>
          </div>
    
        </div>
      </div>
      <!-- Bull vs. Bear -->
      <div class="parallax-container valign">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">Quick and up to date</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="/img/bull-vs-bear.jpg" alt="Bull vs. Bear"></div>
      </div>


    <!-- Bringing in Materialize JS -->
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>
</body>

</html>